
    <!-- Gallery Component -->
    <div class="gallery-container">
        <h1>GALLERY</h1>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="/assets/images/slide1.jpg" alt="Room 1">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide2.jpg" alt="Room 2">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide9.jpg" alt="Room 3">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide5.jpg" alt="Room 4">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide8.jpg" alt="Room 5">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide10.jpg" alt="Room 6">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide11.jpg" alt="Room 7">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide7.jpg" alt="Room 8">
            </div>
            <div class="gallery-item">
                <img src="/assets/images/slide6.jpg" alt="Room 8">
            </div>
        </div>
    </div>


